---
- name: Disable swapfile
  ansible.builtin.command: swapoff {{ swap_file_path }}
  changed_when: true
  when:
    - swap_file_stat.stat.exists
    - swap_file_path in (swap_active.stdout | d(''))

- name: Remove swapfile from fstab
  ansible.posix.mount:
    src: "{{ swap_file_path }}"
    path: none
    fstype: swap
    state: absent

- name: Delete swapfile
  ansible.builtin.file:
    path: "{{ swap_file_path }}"
    state: absent
