---
- name: Disable swapfile before resize
  ansible.builtin.command: swapoff {{ swap_file_path }}
  changed_when: true
  when:
    - swap_file_stat.stat.exists
    - swap_file_path in (swap_active.stdout | d(''))
    - swap_file_stat.stat.size != swap_file_size | human_to_bytes

- name: Remove swapfile if size changed
  ansible.builtin.file:
    path: "{{ swap_file_path }}"
    state: absent
  when:
    - swap_file_stat.stat.exists
    - swap_file_stat.stat.size != swap_file_size | human_to_bytes

- name: Create swapfile
  ansible.builtin.command: fallocate --length {{ swap_file_size }} {{ swap_file_path }}
  args:
    creates: "{{ swap_file_path }}"
  register: swap_created

- name: Set swapfile permissions
  ansible.builtin.file:
    path: "{{ swap_file_path }}"
    owner: root
    group: root
    mode: "0600"

- name: Format swapfile
  ansible.builtin.command: mkswap {{ swap_file_path }}
  changed_when: true
  when:
    - swap_created is changed # noqa: no-handler
  notify: activate swap

- name: Add swapfile to fstab
  ansible.posix.mount:
    src: "{{ swap_file_path }}"
    path: none
    fstype: swap
    opts: sw
    state: present
  notify: activate swap
