---
- name: Install ca-certificates package
  ansible.builtin.package:
    name: ca-certificates
    state: present

- name: Download CA certificate from URL
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ ca_dest }}/{{ item.name }}.crt"
    owner: root
    group: root
    mode: "0644"
  loop: "{{ ca_certificates | selectattr('url', 'defined') }}"
  loop_control:
    label: "{{ item.name }}"
  notify:
    - update trusted ca

- name: Add CA certificate from content
  ansible.builtin.copy:
    content: "{{ item.content }}"
    dest: "{{ ca_dest }}/{{ item.name }}.crt"
    owner: root
    group: root
    mode: "0644"
  loop: "{{ ca_certificates | selectattr('content', 'defined') }}"
  loop_control:
    label: "{{ item.name }}"
  notify:
    - update trusted ca
